<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017859528504-tpag4e54vpsul31td1v1m05kqm4h2vgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017859528504-tpag4e54vpsul31td1v1m05kqm4h2vgl</string>
	<key>API_KEY</key>
	<string>AIzaSyB5uoOthuCuYiwfO-pgigItW4Qx5tPwsHo</string>
	<key>GCM_SENDER_ID</key>
	<string>1017859528504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nan.TheJanitorial1</string>
	<key>PROJECT_ID</key>
	<string>thejanitorial-8dbbf</string>
	<key>STORAGE_BUCKET</key>
	<string>thejanitorial-8dbbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017859528504:ios:3e9bca6ade9375845c93cd</string>
</dict>
</plist>